.elementor-kit-3 {
    --e-global-color-primary: #5784a1;
    --e-global-color-secondary: #473F37;
    --e-global-color-text: #6C6C6C;
    --e-global-color-accent: #61CE70;
    --e-global-color-d656850: #0e97ba;
    --e-global-color-76b8ccf: #facffc;
    --e-global-color-61201e6: #02084b;
    --e-global-color-be8516a: #FFFFFF47;
    --e-global-color-3e336eb: #FFF4EF;
    --e-global-color-d235df7: #FFFFFFC9;
    --e-global-color-b89459d: #FFFFFF00;
    --e-global-color-24d3cea: #929292;
    --e-global-color-0346697: #2A2217D4;
    --e-global-color-f50d108: #DDDDDD;
    --e-global-color-c81f4af: #FFFFFF94;
    --e-global-typography-primary-font-family: "Eczar";
    --e-global-typography-primary-font-size: 55px;
    --e-global-typography-primary-font-weight: 700;
    --e-global-typography-primary-line-height: 1.2em;
    --e-global-typography-primary-letter-spacing: 1px;
    --e-global-typography-secondary-font-family: "Eczar";
    --e-global-typography-secondary-font-size: 45px;
    --e-global-typography-secondary-font-weight: 700;
    --e-global-typography-secondary-line-height: 1.2em;
    --e-global-typography-secondary-letter-spacing: 1px;
    --e-global-typography-text-font-family: "Questrial";
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-line-height: 1.5em;
    --e-global-typography-accent-font-family: "Questrial";
    --e-global-typography-accent-font-size: 15px;
    --e-global-typography-accent-font-weight: 500;
    --e-global-typography-accent-line-height: 1.5em;
    --e-global-typography-93f7f1b-font-family: "Questrial";
    --e-global-typography-93f7f1b-font-size: 16px;
    --e-global-typography-93f7f1b-font-weight: 600;
    --e-global-typography-93f7f1b-letter-spacing: 1px;
    --e-global-typography-cabc20a-font-family: "Questrial";
    --e-global-typography-cabc20a-font-size: 14px;
    --e-global-typography-cabc20a-font-weight: 600;
    --e-global-typography-cabc20a-letter-spacing: 1.2px;
    --e-global-typography-751ec74-font-family: "Questrial";
    --e-global-typography-751ec74-font-size: 18px;
    --e-global-typography-751ec74-font-weight: 600;
    --e-global-typography-751ec74-letter-spacing: 1px;
    --e-global-typography-b543159-font-family: "Questrial";
    --e-global-typography-b543159-font-size: 18px;
    --e-global-typography-b543159-font-weight: 700;
    --e-global-typography-b543159-line-height: 1.2em;
    --e-global-typography-b543159-letter-spacing: 0.5px;
    --e-global-typography-7abd77b-font-family: "Questrial";
    --e-global-typography-7abd77b-font-size: 22px;
    --e-global-typography-7abd77b-font-weight: 600;
    --e-global-typography-7abd77b-line-height: 1.2em;
    --e-global-typography-7abd77b-letter-spacing: 0.7px;
    --e-global-typography-227690b-font-family: "Questrial";
    --e-global-typography-227690b-font-size: 18px;
    --e-global-typography-227690b-font-weight: 500;
    --e-global-typography-227690b-font-style: italic;
    --e-global-typography-227690b-line-height: 1.5em;
    --e-global-typography-9bfcc92-font-family: "Questrial";
    --e-global-typography-9bfcc92-font-size: 30px;
    --e-global-typography-9bfcc92-font-weight: 700;
    --e-global-typography-9bfcc92-line-height: 1.2em;
    --e-global-typography-9bfcc92-letter-spacing: 1.7px;
    --e-global-typography-acb9cd3-font-family: "Questrial";
    --e-global-typography-acb9cd3-font-size: 50px;
    --e-global-typography-acb9cd3-font-weight: 700;
    --e-global-typography-acb9cd3-line-height: 1em;
    --e-global-typography-64a1b73-font-family: "Questrial";
    --e-global-typography-64a1b73-font-size: 160px;
    --e-global-typography-64a1b73-font-weight: 700;
    --e-global-typography-64a1b73-line-height: 1.2em;
    --e-global-typography-64a1b73-letter-spacing: 1.7px;
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    line-height: var( --e-global-typography-text-line-height);
}

.elementor-kit-3 a {
    color: #0e97ba;
}

.elementor-kit-3 a:hover {
    color: #045c72;
}

.elementor-kit-3 h1 {
    color: var( --e-global-color-d656850);
    font-family: 'Eczar';
    font-size: var( --e-global-typography-primary-font-size);
    font-weight: var( --e-global-typography-primary-font-weight);
    line-height: var( --e-global-typography-primary-line-height);
    letter-spacing: var( --e-global-typography-primary-letter-spacing);
}

.elementor-kit-3 h2 {
    color: var( --e-global-color-d656850);
    font-family: 'Eczar';
    font-size: var( --e-global-typography-secondary-font-size);
    font-weight: var( --e-global-typography-secondary-font-weight);
    line-height: var( --e-global-typography-secondary-line-height);
    letter-spacing: var( --e-global-typography-secondary-letter-spacing);
}

.elementor-kit-3 h3 {
    color: var( --e-global-color-d656850);
    font-family: var( --e-global-typography-9bfcc92-font-family), Sans-serif;
    font-size: var( --e-global-typography-9bfcc92-font-size);
    font-weight: var( --e-global-typography-9bfcc92-font-weight);
    line-height: var( --e-global-typography-9bfcc92-line-height);
    letter-spacing: var( --e-global-typography-9bfcc92-letter-spacing);
    word-spacing: var( --e-global-typography-9bfcc92-word-spacing);
}

.elementor-kit-3 h4 {
    color: var( --e-global-color-secondary);
    font-family: var( --e-global-typography-7abd77b-font-family), Sans-serif;
    font-size: var( --e-global-typography-7abd77b-font-size);
    font-weight: var( --e-global-typography-7abd77b-font-weight);
    line-height: var( --e-global-typography-7abd77b-line-height);
    letter-spacing: var( --e-global-typography-7abd77b-letter-spacing);
    word-spacing: var( --e-global-typography-7abd77b-word-spacing);
}

.elementor-kit-3 h5 {
    color: var( --e-global-color-secondary);
    font-family: var( --e-global-typography-b543159-font-family), Sans-serif;
    font-size: var( --e-global-typography-b543159-font-size);
    font-weight: var( --e-global-typography-b543159-font-weight);
    line-height: var( --e-global-typography-b543159-line-height);
    letter-spacing: var( --e-global-typography-b543159-letter-spacing);
    word-spacing: var( --e-global-typography-b543159-word-spacing);
}

.elementor-kit-3 h6 {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
    line-height: var( --e-global-typography-accent-line-height);
}

.elementor-kit-3 button,
.elementor-kit-3 input[type="button"],
.elementor-kit-3 input[type="submit"],
.elementor-kit-3 .elementor-button {
    font-family: var( --e-global-typography-93f7f1b-font-family), Sans-serif;
    font-size: var( --e-global-typography-93f7f1b-font-size);
    font-weight: var( --e-global-typography-93f7f1b-font-weight);
    line-height: var( --e-global-typography-93f7f1b-line-height);
    letter-spacing: var( --e-global-typography-93f7f1b-letter-spacing);
    word-spacing: var( --e-global-typography-93f7f1b-word-spacing);
    color: var( --e-global-color-61201e6);
    background-color: transparent;
    background-image: linear-gradient(170deg, var( --e-global-color-primary) 0%, var( --e-global-color-76b8ccf) 100%);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    padding: 15px 30px 15px 30px;
}

.elementor-kit-3 button:hover,
.elementor-kit-3 button:focus,
.elementor-kit-3 input[type="button"]:hover,
.elementor-kit-3 input[type="button"]:focus,
.elementor-kit-3 input[type="submit"]:hover,
.elementor-kit-3 input[type="submit"]:focus,
.elementor-kit-3 .elementor-button:hover,
.elementor-kit-3 .elementor-button:focus {
    color: var( --e-global-color-61201e6);
    background-color: transparent;
    background-image: linear-gradient(170deg, var( --e-global-color-76b8ccf) 0%, var( --e-global-color-76b8ccf) 100%);
}

.elementor-kit-3 label {
    color: var( --e-global-color-d656850);
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
    line-height: var( --e-global-typography-accent-line-height);
}

.elementor-kit-3 input:not([type="button"]):not([type="submit"]),
.elementor-kit-3 textarea,
.elementor-kit-3 .elementor-field-textual {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    line-height: var( --e-global-typography-text-line-height);
    color: var( --e-global-color-d656850);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #DBDBDB;
    border-radius: 0px 0px 0px 0px;
}

.elementor-kit-3 input:focus:not([type="button"]):not([type="submit"]),
.elementor-kit-3 textarea:focus,
.elementor-kit-3 .elementor-field-textual:focus {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-primary);
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px;
}

.e-container {
    --container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}

.elementor-element {
    --widgets-spacing: 20px;
}
h1.entry-title {
    display: var(--page-title-display);
}

.site-header {
    padding-right: 0px;
    padding-left: 0px;
}

@media(max-width:1024px) {
    .elementor-kit-3 {
        --e-global-typography-64a1b73-font-size: 130px;
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-kit-3 h1 {
        font-size: var( --e-global-typography-primary-font-size);
        line-height: var( --e-global-typography-primary-line-height);
        letter-spacing: var( --e-global-typography-primary-letter-spacing);
    }
    .elementor-kit-3 h2 {
        font-size: var( --e-global-typography-secondary-font-size);
        line-height: var( --e-global-typography-secondary-line-height);
        letter-spacing: var( --e-global-typography-secondary-letter-spacing);
    }
    .elementor-kit-3 h3 {
        font-size: var( --e-global-typography-9bfcc92-font-size);
        line-height: var( --e-global-typography-9bfcc92-line-height);
        letter-spacing: var( --e-global-typography-9bfcc92-letter-spacing);
        word-spacing: var( --e-global-typography-9bfcc92-word-spacing);
    }
    .elementor-kit-3 h4 {
        font-size: var( --e-global-typography-7abd77b-font-size);
        line-height: var( --e-global-typography-7abd77b-line-height);
        letter-spacing: var( --e-global-typography-7abd77b-letter-spacing);
        word-spacing: var( --e-global-typography-7abd77b-word-spacing);
    }
    .elementor-kit-3 h5 {
        font-size: var( --e-global-typography-b543159-font-size);
        line-height: var( --e-global-typography-b543159-line-height);
        letter-spacing: var( --e-global-typography-b543159-letter-spacing);
        word-spacing: var( --e-global-typography-b543159-word-spacing);
    }
    .elementor-kit-3 h6 {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
    }
    .elementor-kit-3 button,
    .elementor-kit-3 input[type="button"],
    .elementor-kit-3 input[type="submit"],
    .elementor-kit-3 .elementor-button {
        font-size: var( --e-global-typography-93f7f1b-font-size);
        line-height: var( --e-global-typography-93f7f1b-line-height);
        letter-spacing: var( --e-global-typography-93f7f1b-letter-spacing);
        word-spacing: var( --e-global-typography-93f7f1b-word-spacing);
    }
    .elementor-kit-3 label {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
    }
    .elementor-kit-3 input:not([type="button"]):not([type="submit"]),
    .elementor-kit-3 textarea,
    .elementor-kit-3 .elementor-field-textual {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }
    .e-container {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-3 {
        --e-global-typography-primary-font-size: 33px;
        --e-global-typography-secondary-font-size: 30px;
        --e-global-typography-text-font-size: 14px;
        --e-global-typography-751ec74-font-size: 16px;
        --e-global-typography-b543159-font-size: 16px;
        --e-global-typography-7abd77b-font-size: 20px;
        --e-global-typography-227690b-font-size: 16px;
        --e-global-typography-9bfcc92-font-size: 28px;
        --e-global-typography-64a1b73-font-size: 110px;
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-kit-3 h1 {
        font-size: var( --e-global-typography-primary-font-size);
        line-height: var( --e-global-typography-primary-line-height);
        letter-spacing: var( --e-global-typography-primary-letter-spacing);
    }
    .elementor-kit-3 h2 {
        font-size: var( --e-global-typography-secondary-font-size);
        line-height: var( --e-global-typography-secondary-line-height);
        letter-spacing: var( --e-global-typography-secondary-letter-spacing);
    }
    .elementor-kit-3 h3 {
        font-size: var( --e-global-typography-9bfcc92-font-size);
        line-height: var( --e-global-typography-9bfcc92-line-height);
        letter-spacing: var( --e-global-typography-9bfcc92-letter-spacing);
        word-spacing: var( --e-global-typography-9bfcc92-word-spacing);
    }
    .elementor-kit-3 h4 {
        font-size: var( --e-global-typography-7abd77b-font-size);
        line-height: var( --e-global-typography-7abd77b-line-height);
        letter-spacing: var( --e-global-typography-7abd77b-letter-spacing);
        word-spacing: var( --e-global-typography-7abd77b-word-spacing);
    }
    .elementor-kit-3 h5 {
        font-size: var( --e-global-typography-b543159-font-size);
        line-height: var( --e-global-typography-b543159-line-height);
        letter-spacing: var( --e-global-typography-b543159-letter-spacing);
        word-spacing: var( --e-global-typography-b543159-word-spacing);
    }
    .elementor-kit-3 h6 {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
    }
    .elementor-kit-3 button,
    .elementor-kit-3 input[type="button"],
    .elementor-kit-3 input[type="submit"],
    .elementor-kit-3 .elementor-button {
        font-size: var( --e-global-typography-93f7f1b-font-size);
        line-height: var( --e-global-typography-93f7f1b-line-height);
        letter-spacing: var( --e-global-typography-93f7f1b-letter-spacing);
        word-spacing: var( --e-global-typography-93f7f1b-word-spacing);
    }
    .elementor-kit-3 label {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
    }
    .elementor-kit-3 input:not([type="button"]):not([type="submit"]),
    .elementor-kit-3 textarea,
    .elementor-kit-3 .elementor-field-textual {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }
    .e-container {
        --container-max-width: 767px;
    }
}